@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-950 text-slate-100 antialiased selection:bg-cyan-500/30 selection:text-cyan-50;
  }
}

/* Cyberpunk Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  @apply bg-slate-950;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-slate-800 rounded-full border border-slate-900;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  @apply bg-slate-700;
}